<div class="relative max-w-54">
  <input
    id="input"
    [type]="type()"
    [class]="inputClass"
    [placeholder]="placeHolder()"
    (focus)="test()"
    (blur)="test2()"
    [(ngModel)]="value"
    (ngModelChange)="test3()"
  />
  @if (!esDatoCorrecto()) {
    <b class="text-sm text-red-400!">Datos de entrada incorrectos</b>
  }

  @if (isPassword()) {
    <div class="absolute right-0 bottom-2.5 cursor-pointer" (click)="showPassword()">
      @if (type() === 'password') {
        <svg data-p-icon="eye" size="16"></svg>
      } @else {
        <svg data-p-icon="eye-slash" size="16"></svg>
      }
    </div>
  }
</div>
